@{
    Layout = "_Layout";
}

<div class="card mt-3">
    <div class="card-body">

        <div class="d-flex align-items-center mb-4">
            <i class="fas fa-users me-2" style="font-size: 2rem"></i>
            <h1 class="m-0">Users List</h1>
        </div>
        

        <div class="table-responsive-sm">
            <table class="table table-striped w-100 shadow-sm overflow-hidden">
                <thead class="bg-primary text-white">
                    <tr class="th-letter-spacing">
                        <th><b>EMAIL/USERNAME</b></th>
                        <th><b>PASSWORD</b></th>
                        <th><b>ROLE</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>vitasysehrapp@gmail.com</td>
                        <td>Admin123*</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>reccionbernard@gmail.com</td>
                        <td>!Bern123</td>
                        <td>Owner (Basic Account)</td>
                    </tr>
                    <tr>
                        <td>bernardguiller.reccion@benilde.edu.ph</td>
                        <td>!Bern123</td>
                        <td>Assistant</td>
                    </tr>
                    <tr>
                        <td>pierrebcv@gmail.com</td>
                        <td>Testpass01!</td>
                        <td>Owner (Free Account)</td>
                    </tr>
                    <tr>
                        <td>pierrebenedict.villanueva@benilde.edu.ph</td>
                        <td>Testpass02!</td>
                        <td>Dentist</td>
                    </tr>
                    <tr>
                        <td>jai.macatangay@gmail.com</td>
                        <td>Abc123*</td>
                        <td>Owner</td>
                    </tr>
                    <tr>
                        <td>jairus.macatangay@benilde.edu.ph</td>
                        <td>Abc123*</td>
                        <td>Patient</td>
                    </tr>
                    <tr>
                        <td>akabryyy@gmail.com</td>
                        <td>Pa55word321!</td>
                        <td>Owner (Pro Account)</td>
                    </tr>
                    <tr>
                        <td>bryanandrew.wee@benilde.edu.ph</td>
                        <td>Password!23</td>
                        <td>Patient</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>