<button class="btn btn-primary" onclick="selectAll(@ViewData["Id"])">All</button>
<button class="btn btn-primary" onclick="selectAllMaxillary(@ViewData["Id"])">All Maxillary</button>
<button class="btn btn-primary" onclick="selectAllMandibular(@ViewData["Id"])">All Mandibular</button>
<button class="btn btn-secondary" id="clearAll">Clear</button>

<div class="rd-overflow">

    <div class="mt-4 mb-4">
        <table class="table table-sm table-borderless text-center">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-1"><label for="tooth55">55</label></td>
                <td class="border-1"><label for="tooth54">54</label></td>
                <td class="border-1"><label for="tooth53">53</label></td>
                <td class="border-1"><label for="tooth52">52</label></td>
                <td class="border-1"><label for="tooth51">51</label></td>
                <td></td>
                <td class="border-1"><label for="tooth61">61</label></td>
                <td class="border-1"><label for="tooth62">62</label></td>
                <td class="border-1"><label for="tooth63">63</label></td>
                <td class="border-1"><label for="tooth64">64</label></td>
                <td class="border-1"><label for="tooth65">65</label></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="55" id="tooth55"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="54" id="tooth54"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="53" id="tooth53"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="52" id="tooth52"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="51" id="tooth51"></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="61" id="tooth61"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="62" id="tooth62"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="63" id="tooth63"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="64" id="tooth64"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="65" id="tooth65"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="p-2"></td>
            </tr>
            <tr>
                <td class="border-1"><label for="tooth18">18</label></td>
                <td class="border-1"><label for="tooth17">17</label></td>
                <td class="border-1"><label for="tooth16">16</label></td>
                <td class="border-1"><label for="tooth15">15</label></td>
                <td class="border-1"><label for="tooth14">14</label></td>
                <td class="border-1"><label for="tooth13">13</label></td>
                <td class="border-1"><label for="tooth12">12</label></td>
                <td class="border-1"><label for="tooth11">11</label></td>
                <td></td>
                <td class="border-1"><label for="tooth21">21</label></td>
                <td class="border-1"><label for="tooth22">22</label></td>
                <td class="border-1"><label for="tooth23">23</label></td>
                <td class="border-1"><label for="tooth24">24</label></td>
                <td class="border-1"><label for="tooth25">25</label></td>
                <td class="border-1"><label for="tooth26">26</label></td>
                <td class="border-1"><label for="tooth27">27</label></td>
                <td class="border-1"><label for="tooth28">28</label></td>
            </tr>
            <tr>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="18" id="tooth18"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="17" id="tooth17"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="16" id="tooth16"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="15" id="tooth15"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="14" id="tooth14"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="13" id="tooth13"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="12" id="tooth12"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="11" id="tooth11"></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="21" id="tooth21"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="22" id="tooth22"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="23" id="tooth23"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="24" id="tooth24"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="25" id="tooth25"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="26" id="tooth26"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="27" id="tooth27"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="28" id="tooth28"></td>
            </tr>
            <tr>
                <td class="p-2"></td>
            </tr>
            <tr>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="48" id="tooth48"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="47" id="tooth47"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="46" id="tooth46"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="45" id="tooth45"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="44" id="tooth44"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="43" id="tooth43"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="42" id="tooth42"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="41" id="tooth41"></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="31" id="tooth31"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="32" id="tooth32"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="33" id="tooth33"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="34" id="tooth34"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="35" id="tooth35"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="36" id="tooth36"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="37" id="tooth37"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="38" id="tooth38"></td>
            </tr>
            <tr>
                <td class="border-1"><label for="tooth48">48</label></td>
                <td class="border-1"><label for="tooth47">47</label></td>
                <td class="border-1"><label for="tooth46">46</label></td>
                <td class="border-1"><label for="tooth45">45</label></td>
                <td class="border-1"><label for="tooth44">44</label></td>
                <td class="border-1"><label for="tooth43">43</label></td>
                <td class="border-1"><label for="tooth42">42</label></td>
                <td class="border-1"><label for="tooth41">41</label></td>
                <td></td>
                <td class="border-1"><label for="tooth31">31</label></td>
                <td class="border-1"><label for="tooth32">32</label></td>
                <td class="border-1"><label for="tooth33">33</label></td>
                <td class="border-1"><label for="tooth34">34</label></td>
                <td class="border-1"><label for="tooth35">35</label></td>
                <td class="border-1"><label for="tooth36">36</label></td>
                <td class="border-1"><label for="tooth37">37</label></td>
                <td class="border-1"><label for="tooth38">38</label></td>
            </tr>
            <tr>
                <td class="p-2"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="85" id="tooth85"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="84" id="tooth84"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="83" id="tooth83"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="82" id="tooth82"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="81" id="tooth81"></td>
                <td></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="71" id="tooth71"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="72" id="tooth72"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="73" id="tooth73"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="74" id="tooth74"></td>
                <td class="border-1"><input class="form-check-input" type="checkbox" value="75" id="tooth75"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-1"><label for="tooth85">85</label></td>
                <td class="border-1"><label for="tooth84">84</label></td>
                <td class="border-1"><label for="tooth83">83</label></td>
                <td class="border-1"><label for="tooth82">82</label></td>
                <td class="border-1"><label for="tooth81">81</label></td>
                <td></td>
                <td class="border-1"><label for="tooth71">71</label></td>
                <td class="border-1"><label for="tooth72">72</label></td>
                <td class="border-1"><label for="tooth73">73</label></td>
                <td class="border-1"><label for="tooth74">74</label></td>
                <td class="border-1"><label for="tooth75">75</label></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<button class="btn btn-primary" onclick="addTooth(@ViewData["Id"])"><i class="fas fa-plus me-2"></i>Add</button>

<script>
    const allTeeth = [
        "tooth18", "tooth17", "tooth16", "tooth15", "tooth14", "tooth13", "tooth12", "tooth11",
        "tooth21", "tooth22", "tooth23", "tooth24", "tooth25", "tooth26", "tooth27", "tooth28",
        "tooth48", "tooth47", "tooth46", "tooth45", "tooth44", "tooth43", "tooth42", "tooth41",
        "tooth31", "tooth32", "tooth33", "tooth34", "tooth35", "tooth36", "tooth37", "tooth38",
        "tooth51", "tooth52", "tooth53", "tooth54", "tooth55",
        "tooth61", "tooth62", "tooth63", "tooth64", "tooth65",
        "tooth71", "tooth72", "tooth73", "tooth74", "tooth75",
        "tooth81", "tooth82", "tooth83", "tooth84", "tooth85"
    ]

    let selectAll = (id) => {
        $.post( "/Clinic/Invoice/AddTeeth", { id: id, data: "All Teeth" }, () => {
            location.reload()
        })
    }

    let selectAllMaxillary = (id) => {
        $.post( "/Clinic/Invoice/AddTeeth", { id: id, data: "All Maxillary Teeth" }, () => {
            location.reload()
        })
    }

    let selectAllMandibular = (id) => {
        $.post( "/Clinic/Invoice/AddTeeth", { id: id, data: "All Mandibular Teeth" }, () => {
            location.reload()
        })
    }

    $("#clearAll").click(() => {
        allTeeth.forEach(item => {
            $(`#${item}`).prop("checked", false)
        })
    })

    let addTooth = (id) => {
        let selectedTooth = []

        allTeeth.forEach(item => {
            if ($(`#${item}`).prop("checked") == true)
                selectedTooth.push($(`#${item}`).val())
        })

        $.post( "/Clinic/Invoice/AddTooth", { id: id, data: selectedTooth }, () => {
            location.reload()
        })
    }
</script>