<div class="text-center py-5 mt-5 mb-5">
    <i class="fas fa-exclamation-circle d-flex justify-content-center mb-3" style="font-size: 150px;"></i>
    <p>Ooops! <br /> Looks like this patient doesn't have a dental chart yet.</p>
</div>