<div class="table-responsive-lg">
    <table class="table table-striped table-borderless w-100 table-rounded" id="patientReportTable">
        <thead class="bg-primary text-white">
            <tr class="th-letter-spacing">
                <th>NAME</th>
                <th>BIRTHDAY</th>
                <th>GENDER</th>
                <th>MOBILE NUMBER</th>
                <th>ADDRESS</th>
                <th>CITY</th>
                <th>PROVINCE</th>
                <th>ZIP CODE</th>
                <th>DATE ADDED</th>
                <th>LAST MODIFIED</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    var table = $('#patientReportTable').DataTable({
        "ajax": {
            "url": "/Clinic/Report/GetAllPatients",
            "dataSrc": ""
        },
        "oLanguage": {
            "sSearch": '<i class="fa fa-search me-1"></i>Search:',
        },
        dom: 'Bfrtip',
        buttons: [
            {
                "extend": "print",
                "text": '<i class="fas fa-print"></i> Print',
                "title": "Patients - VitaSys EHR",
                "autoPrint": "false",
                "messageBottom": function(){
                    var rows = table.page.info();
                    return `Total number of patients: <b> ${rows.recordsDisplay} </b>`;
                },
                "customize": function(win){
                    $(win.document.body).find('h1').css('text-align', 'center');
                }
            }
        ],
        "columns": [
            {
                "data": (data, type, dataToSet) => {
                    if(data.MiddleName == null) 
                        return `${data.LastName}, ${data.FirstName}` 
                    else
                        return `${data.LastName}, ${data.FirstName} ${data.MiddleName}`
                }
            },
            { "data": "DOB" },
            { "data": "Gender" },
            { 
                "data": "MobileNumber",
                "render": (MobileNumber) => {
                    if (MobileNumber == null)
                        return 'N/A'
                    else
                        return `${MobileNumber}`
                }
            },
            { 
                "data": "Address",
                "render": (Address) => {
                    if (Address == null)
                        return 'N/A'
                    else
                        return `${Address}`
                }
            },
            { 
                "data": "City",
                "render": (City) => {
                    if (City == null)
                        return 'N/A'
                    else
                        return `${City}`
                }
            },
            { 
                "data": "Province",
                "render": (Province) => {
                    if (Province == null)
                        return 'N/A'
                    else
                        return `${Province}`
                }
            },
            { 
                "data": "ZipCode",
                "render": (ZipCode) => {
                    if (ZipCode == null)
                        return 'N/A'
                    else
                        return `${ZipCode}`
                }
            },
            { "data": "DateAdded" },
            {
                "data": "LastModified",
                "render": (LastModified) => {
                    if (LastModified == null)
                        return 'N/A'
                    else
                        return `${LastModified}`
                }
            }
        ]
    });
</script>