@page
@model ResetAuthenticatorModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="fw-bolder">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="alert alert-warning" role="alert">
            <p>
                <span class="glyphicon glyphicon-warning-sign"></span>
                <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
            </p>
            <p>
                This process disables 2FA until you verify your authenticator app.
                If you do not complete your authenticator app configuration you may lose access to your account.
            </p>
        </div>
        <div>
            <form id="reset-authenticator-form" method="post">
                <button id="reset-authenticator-button" class="btn btn-secondary" type="submit"><i class="fas fa-redo me-2"></i>Reset authenticator key</button>
            </form>
        </div>
    </div>
</div>


