<!--Verified Message-->
<div class="card mx-auto mt-3 shadow-sm message-card-sm">
    <div class="card-body">
        <i class="fas fa-check-circle text-success d-flex justify-content-center" style="font-size: 100px;"></i>
        <h1 class="text-center fw-bolder">Success</h1>
        <hr />
        <p class="m-0 text-center">
            Your GCash payment was accepted and processed successfully. Please wait for a few minutes for the changes to reflect in your subscription details. Go back to your <a asp-area="Clinic" asp-controller="Account" asp-action="Index">clinic account</a>.
        </p>
    </div>
</div>