@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="card message-card-sm shadow-sm text-center mx-auto mt-3">
    <div class="card-body">
        <i class="fas fa-times-circle text-danger d-flex justify-content-center mb-3" style="font-size: 100px;"></i>
        <h1 class="text-danger fw-bolder">@ViewData["Title"]</h1>
        <hr />
        <p>You do not have access to this resource.</p>
    </div>
</div>

