@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card message-card mx-auto mt-3 shadow-sm">
    <div class="card-body">
        <div class="text-center">
            <i class="fas fa-check-circle text-success mb-3" style="font-size: 100px;"></i>
            <h1 class="fw-bolder">@ViewData["Title"]</h1>
            <p>Please check your email to reset your password.</p>
        </div>
    </div>
</div>