@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="card shadow-sm mt-3 mx-auto message-card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="fw-bolder">Forgot your password?</h1>
            <p>Please enter the email you use to sign in to VitaSys EHR.</p>
        </div>
        
        <hr />
        <form method="post">
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Request Password Reset</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
