@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="card mx-auto mt-3 shadow-sm message-card">
    <div class="card-body">
        <div class="text-center">
            <i class="fas fa-check-circle text-success mb-3" style="font-size: 100px;"></i>
            <h1 class="fw-bolder">A verification link has been sent to your email address</h1>
        </div>
        <hr />
        <p class="m-0">
            Please click on the link that has just been sent to your email address to verify your EHR account and
            complete the registration process.
        </p>
    </div>
</div>

