@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="card mt-3 shadow-sm message-card mx-auto">
    <div class="card-body">
        <h1 class="text-center fw-bolder">Resend Email Confirmation</h1>
        <hr />
        <form method="post">
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder=" " />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane me-2"></i>Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
