@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="card message-card mx-auto mt-3 shadow-sm">
    <div class="card-body">
        <div class="text-center">
            <i class="fas fa-check-circle text-success mb-3" style="font-size: 100px;"></i>
            <h1 class="fw-bolder">@ViewData["Title"]</h1>
            <p>Your password has been reset. <a asp-page="./Login">Login</a> to your account.</p>
        </div>
    </div>
</div>