@{
    ViewData["Title"] = "Error Patient Portal Registration";
}

<div class="card message-card-sm mx-auto mt-3 shadow-sm">
    <div class="card-body">
        <i class="fas fa-times-circle text-danger d-flex justify-content-center mb-3" style="font-size: 100px;"></i>
        <h1 class="text-center">Error</h1>
        <hr />
        <p class="m-0 text-center">
            Your account is already registered.
        </p>
    </div>
</div>
