@{
    ViewData["Title"] = "Action Success";
}

<div class="card message-card-sm mx-auto mt-3 shadow-sm">
    <div class="card-body">
        <i class="fas fa-check-circle text-success d-flex justify-content-center mb-3" style="font-size: 100px;"></i>
        <h1 class="text-center">Denied</h1>
        <hr />
        <p class="m-0 text-center">
            You have denied the request for your account. You may now close this window.
        </p>
    </div>
</div>
