@{
    Layout = "/Areas/PatientPortal/Views/_PatientPortalLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-body">
        <div class="text-center py-5">
                <h1 class="text-center" style="font-size: 100px;"><i class="fas fa-wrench"></i></h1>
                <h3>Coming Soon...</h3>
                <p>Page is still under construction.</p>
            </div>
    </div>
</div>