@{
    ViewData["Title"] = "Audit Logs";
}

<div class="card shadow-sm mt-3">
    <div class="card-body">

        <div class="d-flex align-items-center mb-4">
            <i class="fas fa-list-alt me-2" style="font-size: 2rem"></i>
            <h1 class="m-0 fw-bolder">Audit Logs</h1>
        </div>

        <div class="table-responsive-sm">
            <table id="clinicLogsTable" class="table table-hover table-striped table-borderless w-100 table-rounded">
                <thead class="bg-primary text-white">
                    <tr class="th-letter-spacing">
                        <th>ID</th>
                        <th>USER</th>
                        <th>DATE ADDED</th>
                        <th>ACTIVITY TYPE</th>
                        <th>DESCRIPTION</th>
                        <th>DEVICE</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        let dataTable

        $(document).ready(function () {
            loadDataTable()
        });

        let loadDataTable = () => {
            dataTable = $('#clinicLogsTable').DataTable({
                "ajax": {
                    "url": "/Admin/Auditlog/GetClinicAuditLogs",
                    "dataSrc": ""
                }, 
                "oLanguage": {
                    "sSearch": '<i class="fa fa-search me-1"></i>Search:',
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Username" },
                    { "data": "DateAdded" },
                    { "data": "ActivityType" },
                    { "data": "Description" },
                    { "data": "Device" },
                ]
            })
        }
    </script>
}