@using VitasysEHR.Utility
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string? subscriptionType = HttpContextAccessor.HttpContext.Session.GetString(SD.SessionKeySubscriptionType);
    string? subscriptionIsLockout = HttpContextAccessor.HttpContext.Session.GetString(SD.SessionKeySubscriptionIsLockout);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VitasysEHRWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootswatch-cosmos.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/VitasysEHRWeb.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/df6d866fec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color:#e9eff1;">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Clinic" asp-action="Index" asp-controller="Home"><img src="~/img/resources/logo-2.png" style="height: 28px;" alt="vitasys EHR logo" /> VitaSys EHR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">

                        @if (User.IsInRole(SD.Role_Owner) || User.IsInRole(SD.Role_Dentist) || User.IsInRole(SD.Role_Assistant))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-clinic-medical me-2"></i>Clinic Management</a>
                                <div class="dropdown-menu">
                                    <a asp-area="Clinic" asp-controller="Patient" asp-action="Index" class="dropdown-item text-muted">
                                        <div class="row">
                                            <div class="col-sm-2"><i class="fas fa-user-plus"></i></div>
                                            <div class="col-sm-10">Patients</div>
                                        </div>
                                    </a>
                                    @if (subscriptionIsLockout == "false")
                                    {
                                        if (subscriptionType == "Pro")
                                        {
                                            <a asp-area="Clinic" asp-controller="Appointment" asp-action="Index" class="dropdown-item text-muted">
                                                <div class="row">
                                                    <div class="col-sm-2"><i class="fas fa-calendar-check me-2"></i></div>
                                                    <div class="col-sm-10">Appointments</div>
                                                </div>
                                            </a>
                                            <a asp-area="Clinic" asp-controller="Invoice" asp-action="Index" class="dropdown-item text-muted">
                                                <div class="row">
                                                    <div class="col-sm-2"><i class="fas fa-file-invoice me-2"></i></div>
                                                    <div class="col-sm-10">Invoices</div>
                                                </div>
                                            </a>
                                        }
                                    }
                                    
                                    @if (User.IsInRole(SD.Role_Owner))
                                    {
                                        <a asp-area="Clinic" asp-controller="Service" asp-action="Index" class="dropdown-item text-muted">
                                            <div class="row">
                                                <div class="col-sm-2"><i class="fas fa-hand-holding-medical me-2"></i></div>
                                                <div class="col-sm-10">Services</div>
                                            </div>
                                        </a>
                                        @if (subscriptionIsLockout == "false")
                                        {
                                            if (subscriptionType == "Basic" || subscriptionType == "Pro")
                                            {
                                                <a asp-area="Clinic" asp-controller="Report" asp-action="Index" class="dropdown-item text-muted">
                                                    <div class="row">
                                                        <div class="col-sm-2"><i class="fas fa-file-alt me-2"></i></div>
                                                        <div class="col-sm-10">Reports</div>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Owner))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fas fa-users me-2"></i>Account Management</a>
                                <div class="dropdown-menu">
                                    <a asp-area="Clinic" asp-controller="Account" asp-action="Index" class="dropdown-item text-muted">
                                        <div class="row">
                                            <div class="col-sm-2"><i class="fas fa-clinic-medical me-2"></i></div>
                                            <div class="col-sm-10">Clinic Account</div>
                                        </div>
                                    </a>
                                    @if (subscriptionIsLockout == "false")
                                    {
                                        @if (subscriptionType == "Basic" || subscriptionType == "Pro")
                                        {
                                            <a asp-area="Clinic" asp-controller="Employee" asp-action="Index" class="dropdown-item text-muted">
                                                <div class="row">
                                                    <div class="col-sm-2"><i class="fas fa-users me-2"></i></div>
                                                    <div class="col-sm-10">Employees</div>
                                                </div>
                                            </a>
                                            <a asp-area="Admin" asp-controller="AuditLog" asp-action="Clinic" class="dropdown-item text-muted">
                                                <div class="row">
                                                    <div class="col-sm-2"><i class="fas fa-list-alt me-2"></i></div>
                                                    <div class="col-sm-10">Audit Logs</div>
                                                </div>
                                            </a>
                                        }
                                    }
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Index">
                                    <i class="fas fa-users me-2"></i>Accounts Management
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="AuditLog" asp-action="Index">
                                    <i class="fas fa-list-alt me-2"></i>Audit Logs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="VerifyUser">
                                    <i class="fas fa-user-check me-2"></i>Account Verification
                                </a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-5">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="text-white text-opacity-75 p-3 bg-secondary" style="position:absolute; bottom: 0; width: 100%; ">
        <div class="row">
            <div class="col-sm-4">
                <a href="/Clinic/Home/Privacy" target="_blank" class="footer-a">Privacy Policy</a> |
                <a href="/Clinic/Home/TermsConditions" target="_blank" class="footer-a">Terms and Conditions</a>
            </div>
            <div class="col-sm-4 text-center">
                <p class="m-0">&copy; 2022 - VitasysEHR. All rights reserved</p>
            </div>
            <div class="col-sm-4 text-end">
                <p class="m-0">For all inquiries and concerns, please email: vitasysehrapp@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
